<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <form action="/signup" method="GET">
  <button type="submit">New user - Sign Up</button>
</form>
<form action="/login" method="GET">
  <button type="submit">Existing User - Login</button>
</form>

</body>
</html>